
<script>

    import { scaleLinear } from "d3-scale";
	import { extent } from "d3-array";
	import { radialArea } from "d3-shape";

	export let data;
    
	// Size and margins
	const width = 800;
	const height = 250;
	const margin = { top: 10, right: 10, bottom: 10, left: 10 };
	const innerWidth = width - margin.left - margin.right;
	const innerHeight = height - margin.top - margin.bottom;
	const radius = 80;
    
	// filter by city
	let data_baltimore = data.filter(d => d.city == "Baltimore");
	let data_chicago = data.filter(d => d.city == "Chicago");
	let data_la = data.filter(d => d.city == "Los Angeles");

	// defining the scales
	let yScale_heat = scaleLinear().domain(extent(data.map((d) => d.heating))).range([0, radius]);    
	let yScale_cool = scaleLinear().domain(extent(data.map((d) => d.cooling))).range([0, radius]);    

    let xScale = scaleLinear().domain([1,365]).range([0, 2 * Math.PI]);

	
	// defining areas
    let area_cool = radialArea()
        .angle(d => xScale(d.day_of_year))
        .innerRadius(0)
        .outerRadius(d => yScale_cool(d.cooling))

    let area_heat = radialArea()
        .angle(function(d) {return xScale(d.day_of_year);})
        .innerRadius(0)
        .outerRadius(function(d) {return yScale_heat(d.heating);})
	
</script>


<svg {width} {height}>
	<g transform="translate({margin.left +10}, {margin.top})">
			<g transform="translate({radius}, {height / 2})">
				{#each [data_baltimore, data_chicago, data_la] as city, idx}
				<g transform="translate({width / 4 * idx}, 0)">
					<circle cx=0 cy=0 r={radius}/>
					<path d={area_cool(city)} fill="blue" stroke="blue" fill-opacity=0.7 stroke-opacity=1/>
					<path d={area_heat(city)} fill="red" stroke="red" fill-opacity=0.7 stroke-opacity=1/>
					<line x1={-radius} x2={radius} y1=0 y2=0 stroke="black"/>
					<line x1=0 x2=0 y1={-radius} y2={radius} stroke="black"/>
					<text transform="translate(0, {-radius -30})" dominant-baseline="middle" text-anchor="middle">{["Baltimore", "Chicago", "Los Angeles"][idx]}</text>
					<text transform="translate(0, {-radius -10})" dominant-baseline="middle" text-anchor="middle">0</text>
					<text transform="translate({+radius +10}, 0)" dominant-baseline="middle" text-anchor="middle">3</text>
					<text transform="translate(0, {+radius +10})" dominant-baseline="middle" text-anchor="middle">6</text>
					<text transform="translate({-radius -10}, 0)" dominant-baseline="middle" text-anchor="middle">9</text>
				</g>
				{/each}
				<text transform="translate({3 * width/4 - radius + 20}, {-radius / 4})" dominant-baseline="middle" text-anchor="middle" fill="blue">Cooling</text>
				<text transform="translate({ 3* width/4 - radius + 20}, {-radius / 2})" dominant-baseline="middle" text-anchor="middle" fill="red">Heating</text>
 
			</g>
	</g>
  </svg>

  <style>
	svg {
	  border: 0;
	}

	circle {
		border: 5px solid black;
		border-radius: 10px;
		fill-opacity: 0;
		stroke: black;
	}
  </style>
  
  
  