<script>
    let cities = ["Baltimore", "Chicago", "Los Angeles"];
    
    export let scale;
    export let place;
    
</script>


<div class="container">
	<div class="row">    
    	<div class="cities">
			<h4>Location:</h4>
        	{#each cities as city}
            	<label>
                	<input type=radio name="place" bind:group={place} value={city}>  
                	{city}
            	</label>
        	{/each}
    	</div>
    	<div class="scales">
			<h4>Scaling:</h4>
        	<label>
            	<input type=radio name="scale" bind:group={scale} value={0}>
            	Scaled per building type
        	</label>
        	<label>
            	<input type=radio name="scale" bind:group={scale} value={1}>
            	Scaled across all building types
        	</label>
    	</div>
	</div>
</div>

<style>
	h4{
		font-size: 12px;
		font-weight: bold;
	}
	.cities {
		display: inline-block;
		width: 140px;
		height:100px;
		
	}
	.scales {
		display: inline-block;
		width: 300px;
		height:100px;
		
	}

</style>