
<script>

    import { scaleLinear } from "d3-scale";
	import { extent } from "d3-array";

	export let data = [];
	
	export let city;
	export let bool; // 1 is scaled across all

    // Size and margins
	const width = 800;
	const height = 400;
	const margin = { top: 10, right: 10, bottom: 10, left: 10 };

	let transformed_data;
	let building_data;

	function filter (mydata, mycity, index){
		if (mydata != null) {
			transformed_data = {};
			mydata.filter(a => a.city == mycity).forEach((d) => {
				if (!(d.buildingtype in transformed_data)){
					transformed_data[d.buildingtype]=[]
				};

				transformed_data[d.buildingtype].push(d.total_heating_energy);
			})
	}};

	$: filter(data, city);
	
    // defining the scales
	let yScale_all = scaleLinear().domain(extent(data.map((d) => d.total_heating_energy))).range([15, 0]);
	
	let yScale_ind;
	function yScale_maker (df, building_idx) {
		building_data = df.filter(b => b.buildingtype == Object.keys(transformed_data)[building_idx]);
		yScale_ind = scaleLinear().domain(extent(building_data.map((d) => d.total_heating_energy))).range([15,0]);  
	}

    let xScale = scaleLinear().domain([0,744]).range([0, 2 * width/3]);  

    // function to create path   
	let path_maker_all = (d) => {
		let path = "M 0," + yScale_all(0);
		d.forEach((value, idx) => {
			path += " " + xScale(idx) + ',' + yScale_all(value)
		})
		path += " " + xScale(744) + ',' + yScale_all(0);
		return path;
	}

	let path_maker_ind = (d, x, y) => {
		yScale_maker (x, y);
		let path = "M 0," + yScale_ind(0);
		d.forEach((value, idx) => {
			path += " " + xScale(idx) + ',' + yScale_ind(value)
		})
		path += " " + xScale(744) + ',' + yScale_ind(0);
		return path;
	}


</script>

<svg {width} height={height +80}>
    <g transform="translate({margin.left}, {margin.top})">
        <g>
        {#each Object.keys(transformed_data) as building, b_idx}
            <g transform="translate(0, {(height/15 +2) * b_idx})">
				{#if bool}
                	<path d={path_maker_all(transformed_data[building])}/>
					<path transform="translate(0,30), scale(1,-1)" d={path_maker_all(transformed_data[building])}/>
				{:else}
					<path d={path_maker_ind(transformed_data[building], data, b_idx)}/>
					<path transform="translate(0,30), scale(1,-1)" d={path_maker_ind(transformed_data[building], data, b_idx)}/>
				{/if}
                <text transform="translate({2 * width/3 + 55}, {height/24})"> {building} </text>
                </g>
            {/each}
            </g>
        </g>
</svg>

  

  <style>
	svg {
	  border: 1px solid black;
	  border-radius: 5px;
	}
	path {
		stroke: none;
		fill: black;
		fill-opacity: 1;
	}
	
  </style>
  

  

