<script>

	import { onMount } from "svelte";
	import Graph from "./design_2_graph.svelte";


	// Size and margins
	const width = 600;
	const height = 250;
	const margin = { top: 10, right: 10, bottom: 10, left: 10 };
	const innerWidth = width - margin.left - margin.right;
	const innerHeight = height - margin.top - margin.bottom;
	const radius = 80;

	// loading the data
	let data = null;
	onMount(async () => fetch("/data/daily_heating_cooling.json")
							.then(res => res.json())
							.then(datapoints => data = datapoints))

  </script>



{#if !data}
	<p>Loading the data, please wait...</p>
{:else}
  	<Graph data={data} />
{/if}


