
<script>

	import { onMount } from "svelte";
	import Leaves from "./design_3_leaves.svelte";

	

	// Size and margins
	const width = 500;
	const height = 500;
	const margin = { top: 10, right: 10, bottom: 10, left: 10 };
	const innerWidth = width - margin.left - margin.right;
	const innerHeight = height - margin.top - margin.bottom;

	
	// loading the data
	let data = null;
	onMount(async () => fetch("/data/hourly_electricity_vs_gas_december.json")
							.then(res => res.json())
							.then(datapoints => data = datapoints))

	let weeks;
	
	$: if (data != null) {
		weeks =  [... new Set (data.map(d => d.week))];
	}

	function even_check(nr){
		if (nr%2) {    //UNEVEN
			return 0; 			
		}
		else {         //EVEN
			return 1;
		}
	}

	function gas_data(df, wknr){
		let temp = df.filter(a => a.week == wknr);
		return temp.map(d => d.total_gas);
	}

	function el_data(df, wknr){
		let temp = df.filter(a => a.week == wknr);
		return temp.map(d => d.total_electrity);
	}


  </script>
  

{#if !data}
  <p>Loading the data, please wait...</p>
{:else}
  <svg {width} {height}>
	<g transform="translate({margin.left}, {margin.top})">
		<g transform="translate({width/2 -50},0)">
			<line x1=0 x2=0 y1=0 y2={innerHeight -50} stroke="black"/>
			{#each weeks as weeknr, idx_w}
				{#if even_check(weeknr)}
					<g transform="translate(0,{(5-idx_w) * innerHeight/6})">
						<line x1=0 x2=180 y1=0 y2="-60" stroke="black"/>
						<g transform="translate(-20,-55) rotate(345)">
							<Leaves data={el_data(data, weeknr)} col="blue"/>
							</g>
						<g transform="translate(10,50) scale(1,-1) rotate(18)">
						<Leaves data={gas_data(data, weeknr)} col="orange"/>
							</g>
					</g>
				{:else}
					<g transform="translate(0, {(5-idx_w) * innerHeight/6}) scale(-1,1)">
						<line x1=0 x2=180 y1=0 y2="-60" stroke="black"/>
						<g transform="translate(-20,-55) rotate(345)">						
							<Leaves data={el_data(data, weeknr)} col="blue"/>
							</g>
						<g transform="translate(10,50) scale(1,-1) rotate(18)">
						<Leaves data={gas_data(data, weeknr)} col="orange"/>
							</g>
					</g>
				{/if}
			{/each}
		</g>
	</g>
	<text x={width/2} y={innerHeight-30} style="text-align:center" font-family="Papyrus" font-size=30>Baltimore</text>
	<text x={width/2} y={innerHeight-5} style="text-align:center" font-family="Papyrus">(December 2014)</text>
	<text x=20 y=20 font-family="Garamond">Blue: Energy use</text>
	<text x=20 y=40 font-family="Garamond">Orange: Gas use</text>
	<line x1={width-60} x2={width-60} y1={height-80} y2=80 stroke="black"/>
	<line x1={width-55} x2={width-60} y1=100 y2=80 stroke="black"/>
	<line x1={width-65} x2={width-60} y1=100 y2=80 stroke="black"/>
	<text x={width-50} y=200 writing-mode="vertical-rl" font-family="Garamond">Week 1 to 5</text>
</svg>
{/if}
  


<style>
	svg {
	  border: 1px solid black;
	  border-radius: 5px;
	}
  </style>