

<script>

    import { scaleLinear } from "d3-scale";
    import { extent } from "d3-array";



    export let data;
    export let col;



    // Size and margins
	const width = 500;
	const height = 500;
	const margin = { top: 10, right: 10, bottom: 10, left: 10 };
	const innerWidth = width - margin.left - margin.right;
	const innerHeight = height - margin.top - margin.bottom;

    // defining the scales
    let yScale = scaleLinear().domain(extent(data)).range([40, 0]);
    let xScale = scaleLinear().domain([0,data.length]).range([0, 180]);  

    
    console.log(data.length)

 
    // function to create path   
	let path_maker = (d) => {
		let path = "M 0," + yScale(0);
		d.forEach((value, idx) => {
			path += " " + xScale(idx) + ',' + yScale(value)
		})
    
		return path;
        
	};

</script>


<svg {width} height={height}>
    <g transform="translate({margin.left}, {margin.top})">
        <path d={path_maker(data)} fill={col} fill-opacity=0.5 stroke={col} stroke-width=1/>
    </g>
</svg>


