<script>

	//import { json } from "d3-fetch";
	import { onMount } from "svelte";

	import Controls from "./design_1_controls.svelte";
	import Graph from "./design_1_graph.svelte";

	// Size and margins
	const width = 800;
	const height = 480;
	const margin = { top: 10, right: 10, bottom: 10, left: 10 };
	const line_height = 8;
	const line_width = 300;
	
	// loading the data
	let data = null;
	onMount(async () => fetch("/data/hourly_heating_december.json")
							.then(res => res.json())
							.then(datapoints => data = datapoints))
	
	// clean data and select specified city
	
	let selected_city = "Chicago";
	let scaling = 0;	


  </script>
  

{#if !data}
  <p>Loading the data, please wait...</p>
{:else}
<div>
  	<h2> Energy use in December</h2>
	<Controls bind:place={selected_city} bind:scale={scaling}/>
	<svg {width} {height}>
		<Graph data={data} bool={scaling} city={selected_city}/>
	</svg>
</div>
{/if}

<style>
	h2 {
		font-size: 20px;;
	}
</style>