<script>
  let current = "";
</script>

<!-- We will cover buttons in week 7! -->
<button class:select="{current === 'messi'}" on:click={() => (current = "messi")}>
  Messi
</button>

<button class:select="{current === 'ronaldo'}" on:click={() => (current = "ronaldo")}>
  Ronaldo
</button>

<button class:select="{current === 'neymar'}" on:click={() => (current = "neymar")}>
  Neymar
</button>

<style>
	button {
		display: block;
	}

	.select {
		background-color: #a73d65;
		color: white;
	}
</style>