<!--- JavaScript code --->
<script>
    const name = 'Emma';
    const things = ['hiking', 'coffee', 'diving', 'friends'];
  </script>
  
  <!--- HTML markup --->
  <p>
      My name is {name} and these are some of my favourite things: {things[0]}, {things[1]}, {things[2]}, {things[3]}
</p>