
<script>

function circumference(radius) {
    return ((2 * radius * Math.PI).toFixed(2));
  }

const myradius = 5;

</script>


<p> The circumference of a circle with radius {myradius} is {circumference(myradius)} </p>
