<script>

    import A from './ex_2.svelte'
    import B from './ex_3.svelte'

</script>

<div class="container">
    <div class="row">
        <B/>
    </div>  
    <div class="row">
        <A/>
    </div>  
</div>