<script>
  // Properties
  const continents = ["europe", "asia", "americas", "africa"];
  export let year = 0;
  export let continent = "all";
  let running = false;
  let clicked = false;

  // Functions
  let interval = setInterval(() => { 
    if (running) {
      year += 1
      clicked = true;
      if (year==214){year=0}
    }
  }, 80)

  function start () {
    running = true;
    clicked = true;}
  
  function stop () {
    running = false;
    clicked = false;
  }

  function reset () {
    running = false;
    clicked = false;
    year = 0;

  }
</script>


<div class="row">
  <div class="col">
    {#if !clicked}
    <button type="button" class="btn btn-primary" on:click={start}>Play</button>
    {:else}
    <button type="button" class="btn btn-warning" on:click={stop}>Pause</button>
    {/if}
    <button type="button" class="btn btn-primary" on:click={reset}>Reset</button>
    </div>

  <div class="col">
    <select bind:value={continent}>
      <option value="all" selected="selected">All</option>
      <option value="europe">Europe</option>
      <option value="asia">Asia</option>
      <option value="americas">Americas</option>
      <option value="africa">Africa</option>
    </select>
  </div>

  <div class="col">
    <label> Year: {year +1800}
      <input type="range" min="0" max="214" step="1" bind:value={year}>
    </label>
    </div>
</div>
