<script>
    let clicked = 0;
  </script>
  
  <div>
    <button class="btn btn-primary" on:click={() => (clicked += 1)}>
      {clicked} clicks!
    </button>

    <button class="btn btn-warning" on:click={() => (clicked = 0)}>
        Reset
      </button>
  
  </div>
  