<script>

  // Dimensions
  const width = 800;
  const height = 100;
  const margin = { top: 10, right: 20, bottom: 20, left: 20 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // Arrays
  const points = [
    innerWidth / 2 - 60,
    innerWidth / 2 - 30,
    innerWidth / 2,
    innerWidth / 2 + 30,
    innerWidth / 2 + 60
  ];

  // All lights with a higher index are on!
  let index = points.length;

  // Color
  let color1 = "darkred";
  let color2 = "darkgreen";

  // decrease index or stop
  function decrease() {
    if(index>-1) {index-=1;} else {clearInterval(initiate);}
};

  //  interval
  const initiate = setInterval(decrease, 1000);


</script>

<svg viewBox="0 0 {width} {height}">
  <g transform="translate({margin.left},{margin.top})">
  {#each points as dp, current}
      <circle cx={dp} cy={innerHeight/2} r=10 fill={index==-1 ? color2:color1} opacity={current >= index ? 1:0.3}/>
      {/each}
  
  </g>
</svg>
