<script>
  import { json } from "d3-fetch";
  import { onMount } from "svelte";

  import Controls from "./_ex_3_controls.svelte";
  import Scatterplot from "./_ex_3_scatterplot.svelte";

  let year2 = 0;
  let continent2 = "all";

  // Load the data
  let data = null;
  onMount(async () => {
    data = await json("/data/gapminder.json");
  });

  $: selected = function () {
    if (continent2 == "all") {
      return data[year2]["countries"]
    }
    else {
      return data[year2]["countries"].filter(observation => observation.continent == continent2)
    }
  }
</script>

{#if !data}
  <p>Loading the data, please wait...</p>
{:else}
  <div>
    <Scatterplot data={selected(year2, continent2)} />
    <Controls data={data} bind:year={year2} bind:continent={continent2}/>
  </div>
{/if}


