<script>
  export let data

  // Dimensions
  const [height, width] = [400, 600];
  const margin = { top: 50, right: 5, bottom: 55, left: 50 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  let continent_list = data.map(dp => dp.continent);

  import {scaleLog, scaleLinear, scaleOrdinal, scaleSqrt} from 'd3-scale';
  import { schemeSet1 } from 'd3-scale-chromatic';
  import { axisLeft, axisBottom} from 'd3-axis';
  import {select} from 'd3-selection';

  const scalex = scaleLog().domain([320,40000]).range([margin.left,innerWidth]);
  const scaley = scaleLinear().domain([0,90]).range([innerHeight, margin.top]);
  const scalecont = scaleOrdinal(continent_list, schemeSet1);  
  const scalerad = scaleSqrt([1,500000000], [2,16]);

  const axisx = axisBottom(scalex);
  const axisy = axisLeft(scaley);
  let funcx = function(x) {return axisx(select(x))};
  let funcy = function(y) {return axisy(select(y))};

</script>


<svg viewBox="0 0 {width} {height}" style="max-width: {width}px">
  <g transform="translate({margin.left}, {margin.top})">
    
    {#if data== "loading"} 
    <text transform="translate(200,200)">The data is being loaded...</text>
    
    {:else}
    {#each data as dp}
        {#if dp.income != null && dp.life_exp != null && dp.population != null}
        <circle cx={scalex(dp.income)} cy={scaley(dp.life_exp)} r={scalerad(dp.population)} style="fill: {scalecont(dp.continent)}"/>
        {/if}  
        
    {/each}
    {/if}
    <g transform ="translate(0,{innerHeight})" use:funcx></g>
    <g transform ="translate({margin.left},0)" use:funcy></g>

    <text x={innerWidth/2 -100} y={innerHeight/2 +180}>log of income</text>
    <g transform={"rotate(-90)"}> 
      <text x="-180" y={(innerHeight / 2)-130}> life_exp </text></g>

    <text x=220 y=30>Gapminder Data</text>
    <text x=480 y=280>1800</text>

  </g>
</svg>
