<script>
  // Dimensions
  const width = 800;
  const height = 100;
  const margin = { top: 20, right: 5, bottom: 5, left: 5 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // Array
  const values = [
    { x: 2, y: 1, category: "cat1" },
    { x: 4, y: 2, category: "cat3" },
    { x: 6, y: 1, category: "cat2" },
    { x: 7, y: 3, category: "cat3" },
    { x: 9, y: 1, category: "cat2" }
  ];

  //Scale
  import {scaleLinear, scaleOrdinal} from 'd3-scale';
  const linscalex = scaleLinear([1,10],[0,innerWidth]);
  const linscaley = scaleLinear([3,0],[0,innerHeight]);
  import{schemeDark2} from 'd3-scale-chromatic';
  const col = scaleOrdinal(schemeDark2).domain(values.map(y => y.category)).range(schemeDark2);
</script>

<svg viewBox="0 0 {width} {height}">
  <g transform="translate({margin.left},{margin.top})">
    {#each values as dp}

    <circle cx={linscalex(dp.x)} cy={linscaley(dp.y)} r=5 style= { "fill:" + col(dp.category) }></circle>
    
    <text  class="valueLabel" x={linscalex(dp.x)} y={linscaley(dp.y) - 10}>{dp.y}</text>

    <line x1={linscalex(dp.x)} x2={linscalex(dp.x)} y1="70" y2={linscaley(dp.y)+5} stroke="black"></line>

    {/each}

    <line x1="0" x2={innerWidth} y1="70" y2="70" stroke="black"></line>

  </g>
</svg>









<style>
  text {
    text-anchor: middle;
    font-size: small;
  }
</style>
