<script>
  // Dimensions
  const width = 600;
  const height = 300;
  const margin = { top: 10, right: 10, bottom: 30, left: 60 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // Array
  const data = [
    { service: "Netflix", viewers: 2.9 },
    { service: "Amazon Prime Video", viewers: 1.3 },
    { service: "Disney+", viewers: 2.1 },
    { service: "Hulu", viewers: 0.9 },
    { service: "Apple TV", viewers: 1.1 },
    { service: "Rakuten", viewers: 0.4 }
  ];
  
  let service_list = data.map(dp => dp.service);

  //Scale
  import { scaleLinear, scaleBand } from 'd3-scale';
  const scalex = scaleBand(service_list, [0,innerWidth])
  const scaley = scaleLinear([3,0],[0,innerHeight]);

  //Axis
  import {axisBottom, axisLeft} from 'd3-axis';
  import {select} from 'd3-selection';
  const axisx = axisBottom(scalex);
  const axisy = axisLeft(scaley);
  let funcx = function(x) {return axisx(select(x))};
  let funcy = function(y) {return axisy(select(y))};

</script>

<!-- setting a viewBox and max-width allows the SVG to shrink but not grow! -->
<svg viewbox="0 0 {width} {height}" style="max-width: {width}px">
  <g transform={`translate(${margin.left},${margin.top})`}>
    <!--  -->
    {#each data as dp}
    <rect x="{scalex(dp.service)}" y={scaley(dp.viewers)} width={scalex.bandwidth()} height={innerHeight-scaley(dp.viewers)} fill="steelblue"/>
    {/each}
    <g transform ="translate(0,{innerHeight})" use:funcx></g>
    <g use:funcy></g>
  </g>

  <g transform={"rotate(-90)"} >
    <text x="-200" y="30">Viewers (in millions)</text></g>

</svg>
