<script>

    import { onMount } from 'svelte';
    import {json} from "d3-fetch"
    import Plot from './_ex_7_scatterplot.svelte';
    
    let data = ["loading"]
      
    onMount(async () => {
      await json("/data/gapminder.json")
      .then(all => data = all[0].countries)
    }); 
    </script>

<Plot data={data}/>
    